.header {
  text-align: right;
}
.field {
  display: block;
  border-radius: 10mm;
  border: 1px solid lightgray;
  height: 40px;
  width: 400px;
}

.button {
  margin-top: 15px;
  text-align: center;
}

.main {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
